
.env
.idea/codeislow.iml
.idea/inspectionProfiles/profiles_settings.xml
.idea/modules.xml
.idea/workspace.xml
.idea/vcs.xml
debug/codeislow-logs-1654119119213.txt
debug/codeislow-logs-1654247407754.txt
tmp/empty
tmp/newtest.docx
tmp/PUAM.docx
tmp/test.docx
.idea/misc.xml
tmp/newtest.pdf
tmp/article.pdf
debug/analyse.txt
debug/Résultats bug.odt
debug/Résultats corrigés.odt
tmp/PUAM-Les-garanties-indemnitaires.odt
tmp/PUAM-Les-garanties-indemnitaires.pdf
tmp/these2.pdf
tmp/these.pdf
.DS_Store
.idea/.name
.idea/inspectionProfiles/Project_Default.xml
__pycache__/bottle_sslify.cpython-39.pyc
*.pyc
